.product-button {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.product-button img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}

#carrito-lista li {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
}

#carrito-lista-movil li {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
}

#carrito {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 0 10px;
    text-align: right;
}

#carrito p {
    margin-bottom: 5px;
}

#carrito-precio {
    color: darkgreen;
    font-weight: bold;
}

#carrito-pv {
    color: darkblue;
    font-weight: bold;
}

.sidebar-fixed {
    position: sticky;
    top: 20px;
    height: fit-content;
}

.carrito-items-container {
    display: flex;
    flex-wrap: wrap;
}

.carrito-item-movil {
    width: 48%; /* Ajuste inicial para móviles */
    margin: 0 2% 5px 0;
}

/* Media queries */
@media (max-width: 400px) {
    .carrito-item-movil {
        width: 100%; /* Un solo item por fila en pantallas muy pequeñas */
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    #carrito {
        margin-top: 20px;
    }

    #col-der {
        display: none;
    }

    #col-der-movil {
        display: block;
    }

    #product-list {
        width: 100%;
    }
}

.card-body {
    padding: 0.5rem;
}